# Built binaries & files
freecloud-server.exe
freecloud-server
!cmd/freecloud-server

# Uploaded data
data/

# Database files
*.db
*.db.lock

#
# IDEs
#

# IntelliJ / GoLand
.idea/

# VS Code
.vscode/

# Vim
*.vim
*.swp

testData/
test.db
