# Built binaries & files
freecloud.exe
freecloud

# Uploaded data
data/

# Database files
*.db
*.db.lock

#
# IDEs
#

# IntelliJ / GoLand
.idea/

# VS Code
.vscode/

# Vim
*.vim
*.swp

grpc-services/

testData/
test.db