
$global-primary-background: #274C77;

@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

html, body {
  height: 100%;
  overflow-y: auto;
}
body {
  display: flex;
  flex-direction: column;
}
section.section {
  flex: 1 0 auto;
}

@import "./molecules/file-list";