.file-list {
  // display: table;
  background-color: #f2f2f2;
  width: 100%;
  table-layout: fixed;

  .file-list--header {
    // Done because neither height, nor padding work
    line-height: 3;
    background: #f2f2f2;
  }

  .file-list--cell {
    vertical-align: middle;
  }
  
  .file-list--item {
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .file-list--header-cell.name {
    padding-left: calc(3rem + .5ch);
  }

}