<div class="box">
  <table class="uk-table uk-table-striped uk-table-hover uk-table-small uk-table-responsive">
    <thead>
      <tr>
        <th class="uk-table-shrink"></th>
        <th class="uk-table-shrink"></th>
        <th class="uk-table-expand">Name</th>
        <th class="uk-width-1-6 uk-text-nowrap">Size</th>
        <th class="uk-width-1-6 uk-text-nowrap">Changed at</th>
      </tr>
    </thead>
    <tbody>
      {{range .Files}}
      <tr>
        <td><input class="uk-checkbox" type="checkbox"></td>
        <td>
          {{if .IsDir}}
          <span uk-icon="icon: folder"></span>
          {{else}}
          <span uk-icon="icon: file"></span>
          {{end}}
        </td>
        <td class="uk-table-link">
          <a class="uk-link-reset" href="">{{.Name}}</a>
        </td>
        <td>
          {{.Size}}
        </td>
        <td>
          {{.ModTime}}
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>