{{template "base/header" .}}
<section class="section">
  <div class="container">
    <form class="form signup-form" action="javascript:void(0);">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control has-icons-left has-icons-right is-expanded">
              <input name="fname" type="text" class="input" placeholder="John">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right is-expanded">
              <input name="lname" type="text" class="input" placeholder="Doe">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="email" class="label">Email</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control has-icons-left">
              <input name="email" type="email" class="input" placeholder="john.doe@example.org">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="password" class="label">Password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input name="password" type="password" class="input" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fa fa-key"></i>
              </span>
            </div>
            <p class="help is-invisible is-danger password-help">Please make your password at least 8 characters long</p>
          </div>
          <div class="field">
            <div class="field">
              <div class="control has-icons-left has-icons-right">
                <input name="password-confirm" type="password" class="input" placeholder="Confirm Password">
                <span class="icon is-small is-left">
                  <i class="fa fa-key"></i>
                </span>
              </div>
              <p class="help is-invisible is-danger password-confirm-help">Passwords don't match</p>
            </div>
          </div>
        </div>
      </div>
      <div class="level">
        <div class="level-left"></div>
        <div class="level-right">
          <div class="level-item">
            <div class="level-item">
              <a href="/login" class="button is-text">I already have an account</a>
            </div>
            <input type="submit" class="button is-primary is-right" value="Sign up" disabled></input>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<script src="/js/signup.js"></script>
{{template "base/footer" .}}